<!-- <ng-template *ngIf="loaderSpinner$ | async; else content">
  <three-dot-spinner></three-dot-spinner>
</ng-template>

<ng-template #content> -->
<app-carrousel-ui
  [cards]="trendingMovies$"
  category="movie"
  title="Trending movies"
  [viewMore]="true"
></app-carrousel-ui>

<app-carrousel-ui
  [cards]="trendingSeries$"
  category="tv"
  title="Trending series"
  [viewMore]="true"
></app-carrousel-ui>

<app-carrousel-ui
  [cards]="topRatedMovies$"
  category="movie"
  title="Top rated movies"
  [viewMore]="true"
></app-carrousel-ui>

<app-carrousel-ui
  [cards]="topRatedSeries$"
  category="tv"
  title="Top rated series"
  [viewMore]="true"
></app-carrousel-ui>
<!-- </ng-template> -->
