:host {
  display: flex;
  justify-content: center;
  width: 100%;
}
.detail__container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 1260px;
  padding: 2rem 1.5rem;
}
.detail__header {
  padding: 0 1.5rem;
}
.detail__title {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
.detail__genres {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}
.genres__item {
  border: 0.2rem solid var(--color-primary);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: var(--color-main-bg);
}
.detail__overview {
  margin-top: 1.5rem;
}
.overview__title {
  font-size: 1.5rem;
}
.overview__paragraph {
  margin-top: 1rem;
}
.detail__img {
  min-width: 12rem;
  max-width: 22rem;
  order: -1;
  border-radius: 1rem;
}
.detail__vote {
  margin-top: 1.5rem;
}
.vote__average {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: var(--color-primary-bg);
  color: var(--color-text);
  border: 0.2rem solid var(--color-primary);
}
.vote__description {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 0.5rem;
}
@media screen and (max-width: 768px) {
  .detail__container {
    flex-direction: column;
    align-items: center;
  }
  .detail__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
  }
  .detail__title {
    font-size: 2rem;
    text-align: center;
  }
  .detail__genres {
    justify-content: center;
  }
  .detail__overview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .overview__title {
    font-size: 1.3rem;
  }
  .overview__paragraph {
    text-align: center;
  }
  .detail__img {
    max-width: 18rem;
  }
}
