<article class="detail__container" *ngIf="details | async as details">
  <header class="detail__header">
    <h2 class="detail__title">{{ details.title || details.name }}</h2>
    <div class="detail__genres" *ngFor="let genre of details.genre | async">
      <span class="genres__item">{{ genre.name }}</span
      >`)}
    </div>
    <div class="detail__overview">
      <h3 class="overview__title">Overview</h3>
      <p class="overview__paragraph">{{ details.overview }}</p>
    </div>
    <div class="detail__vote">
      <span class="vote__average">{{ details.vote_average }}</span>
      <span class="vote__description">User Score</span>
    </div>
  </header>
  <img
    class="detail__img"
    [src]="
      'https://image.tmdb.org/t/p/original/' + details.poster_path
        | placeholderImage
    "
    [alt]="'Poster' + details.title"
  />
</article>
