:host {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--color-main-bg);
  color: var(--color-text);
}
.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1660px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 1.5rem;
}
.grid__header {
  margin-bottom: 1rem;
}
.grid__title {
  font-size: 2rem;
}
.grid__search {
  width: 100%;
  margin-bottom: 2rem;
}
.search__container {
  position: relative;
}
.search__svg {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  padding-left: 0.75rem;
  pointer-events: none;
}
.svg {
  width: 1.25rem;
  height: 1.25rem;
  color: #6b7280;
}
.search__input {
  display: block;
  padding: 1rem;
  padding-left: 2.5rem;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.25rem;
  color: #111827;
  background-color: #f9fafb;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: #d1d5db;
}
.search__button {
  position: absolute;
  right: 0.625rem;
  bottom: 0.3rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-primary-bg);
  border: 2px solid var(--color-primary);
  color: var(--color-text);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
}
.grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  width: 100%;
}
.grid__button {
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  margin-top: 1rem;
  font-size: 1rem;
  transition: all 0.3s;
  position: relative;
  color: var(--color-text);
  border: 2px solid var(--color-primary-bg);
  background-color: var(--color-main-bg);
}
.grid__button:hover {
  border-color: var(--color-primary);
  background-color: var(--color-primary-bg);
}
.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media screen and (max-width: 768px) {
  .grid {
    margin-bottom: 4rem;
  }
}
