<article class="grid" id="grid">
  <header class="grid__header">
    <h2 class="grid__title">{{ this.title }}</h2>
  </header>
  <form
    class="grid__search"
    [formGroup]="searchForm"
    (ngSubmit)="handleSearch()"
  >
    <label class="screen-reader-only" for="search">Search</label>
    <div class="search__container">
      <div class="search__svg">
        <svg
          class="svg"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          ></path>
        </svg>
      </div>
      <input
        class="search__input"
        type="search"
        [placeholder]="'Search ' + this.title | lowercase"
        id="searchInput"
        formControlName="searchInput"
      />
      <button class="search__button" type="submit" aria-label="Search">
        Search
      </button>
    </div>
  </form>
  <div class="grid__container">
    <a
      *ngFor="let card of cards | async"
      [routerLink]="['/detail', category, card.id]"
    >
      <app-card-ui
        [imgPath]="card.poster_path"
        [title]="card.title || card.name"
      ></app-card-ui>
    </a>
  </div>
  <button class="grid__button" aria-label="Load more" (click)="loadMore()">
    Load more
  </button>
</article>
