.card__container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}
.card__img {
  border-radius: 1rem;
  display: block;
  width: 100%;
  max-width: 20rem;
}
.card__title {
  margin-top: 1rem;
  margin-bottom: 0;
}
.title__main {
  font-size: 1rem;
}
.title__subtitle {
  display: block;
  font-size: 0.9rem;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  :host {
    min-width: 175px;
  }
}
