<div class="card__container">
  <img
    class="card__img"
    [src]="'https://image.tmdb.org/t/p/w500/' + imgPath | placeholderImage"
    [alt]="'Poster ' + title"
  />
  <h3 class="card__title">
    <span class="title__main">{{ title }}</span>
    <span class="title__subtitle">{{ subtitle }}</span>
  </h3>
</div>
