<article class="trailer__container" *ngIf="trailer | async as trailer">
  <header class="trailer__header">
    <h2 class="trailer__title">{{ trailer.name }}</h2>
  </header>
  <iframe
    [src]="trailer.key | sanitize"
    width="100%"
    title="Trailer"
    class="trailer__video"
  >
  </iframe>
</article>
