:host {
  display: flex;
  justify-content: center;
}
.trailer__container {
  margin-top: 1.5rem;
  padding: 0 1.5rem;
  max-width: 1660px;
}
.trailer__title {
  font-size: 2rem;
}
.trailer__video {
  margin-top: 1rem;
  width: 72vw;
  height: 40.5vw;
}
@media screen and (max-width: 480px) {
  .trailer__video {
    width: 89vw;
    height: 49.5vw;
  }
}
