:host {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-bg);
  color: var(--color-text);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1660px;
  padding: 1.5rem;
}
.header__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--color-text);
}
.header__title img {
  width: 3rem;
}
.nav__list {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: bold;
}
.nav__list li a {
  text-decoration: none;
  color: var(--color-text);
}
.nav__list li a:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 768px) {
  :host {
    height: 4rem;
  }
  .header__container {
    justify-content: center;
  }
  .header__nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: var(--color-primary-bg);
  }
  .nav__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding: 0;
  }
}
