<header class="header__container">
  <a class="header__title" [routerLink]="['']">
    <img src="../../../assets/logo-kfilms.png" alt="KFilms logo" />
    <h1>KFilms</h1>
  </a>
  <nav class="header__nav">
    <ul class="nav__list">
      <li><a [routerLink]="['']">Home</a></li>
      <li><a [routerLink]="['/catalog/movie']">Movies</a></li>
      <li><a [routerLink]="['/catalog/tv']">Series</a></li>
    </ul>
  </nav>
</header>
