<app-detail-card-ui [details]="details$"></app-detail-card-ui>
<app-cast-carrousel-ui [casts]="casts$"></app-cast-carrousel-ui>
<app-trailer-ui [trailer]="trailer$"></app-trailer-ui>
<app-carrousel-ui
  [cards]="similar$"
  [category]="this.category"
  title="Similar"
  [viewMore]="true"
></app-carrousel-ui>
