:host {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--color-main-bg);
  color: var(--color-text);
}
.carrousel__container {
  width: 100%;
  max-width: 1660px;
  margin-top: 1rem;
  padding: 0 1.5rem;
}
.carrousel__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carrousel {
  display: flex;
  overflow-x: scroll;
  padding: 0.5rem 0;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-text);
  border-radius: 20px;
  border: 0.35rem solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .carrousel__title {
    font-size: 1.2rem;
  }
  .carrousel {
    gap: 2.5rem;
  }
}
