<article class="carrousel__container">
  <header class="carrousel__header">
    <h2 class="carrousel__title">Casts</h2>
  </header>
  <div class="carrousel">
    <app-card-ui
      *ngFor="let cast of casts | async"
      [imgPath]="cast.profile_path"
      [title]="cast.name || cast.original_name"
      [subtitle]="cast.character"
    ></app-card-ui>
  </div>
</article>
