:host {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--color-main-bg);
  color: var(--color-text);
}
.carrousel__container {
  width: 100%;
  max-width: 1660px;
  margin-top: 1rem;
  padding: 0 1.5rem;
}
.carrousel__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carrousel {
  display: flex;
  overflow-x: scroll;
  padding: 0.5rem 0;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.carrousel__link {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  color: var(--color-text);
  font-size: 1rem;
  transition: all 0.3s;
  position: relative;
  border: 2px solid var(--color-primary-bg);
}
.carrousel__link:hover {
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary-bg);
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-text);
  border-radius: 20px;
  border: 0.35rem solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .carrousel__title {
    font-size: 1.2rem;
  }
  .carrousel__link {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
  .last {
    margin-bottom: 3rem;
  }
}
