<article *ngIf="cards" class="carrousel__container">
  <header class="carrousel__header">
    <h2 class="carrousel__title">{{ title }}</h2>
    <a
      *ngIf="viewMore"
      class="carrousel__link"
      [routerLink]="['/catalog', category]"
      >View more</a
    >
  </header>
  <div class="carrousel">
    <a
      *ngFor="let card of cards | async"
      [routerLink]="['/detail', category, card.id]"
    >
      <app-card-ui
        [imgPath]="card.poster_path"
        [title]="card.title || card.name"
      ></app-card-ui>
    </a>
  </div>
</article>
